<!-- <div class="login-shader">
  <md-card class="login-card">
    <md-card-header>
      <div class="header-wrapper">
        <div md-card-avatar class="login-avatar">
          <md-icon class="icon" mdPrefix>remove_from_queue</md-icon>
        </div>
        <div class="title-wrapper">
          <md-card-title>Administration</md-card-title>
          <md-card-subtitle>Dashboard</md-card-subtitle>
        </div>
      </div>
    </md-card-header>
    <md-card-content>
      <!-- <svg id="image-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
              <pattern id="image-bg" x="0" y="0" height="300" width="300" patternUnits="userSpaceOnUse">
                <image width="300" height="300" xlink:href="assets/angularLogo.png"></image>
            </pattern>
          </defs>          
          <polygon class="hex" points="300,150 225,280 75,280 0,150 75,20 225,20" fill="url('#image-bg')"></polygon>       
        </svg> 
      <form class="login-form">
        <md-form-field>
            <md-icon class="login-form-input-prefix" mdPrefix>account_circle</md-icon>
            <input mdInput name="username" [(ngModel)]="loginData.username" #username>
          </md-form-field>
          <md-form-field>
            <md-icon class="login-form-input-prefix" mdPrefix>lock</md-icon>
            <input type="password" name="password" [(ngModel)]="loginData.password" mdInput>
        </md-form-field>
      </form>
    </md-card-content>
    <md-card-actions>
      <button md-button class="login-button" (click)="login()">Login</button>
    </md-card-actions>
  </md-card>
</div>
-->

<router-outlet></router-outlet>