<div class="login-shader">
  <md-card class="login-card">
    <md-card-header>
      <div md-card-avatar class="login-avatar"></div>
      <md-card-title>Administration</md-card-title>
    </md-card-header>
    <md-card-content>
      <form class="login-form">
        <md-form-field>
          <input mdInput placeholder="Username" (keypress)="validateUsername()" required #username>
        </md-form-field>
        <div class="input-warning"> {{ usernameWarning }} </div>
        <md-form-field>
          <input type="password" mdInput placeholder="Password" stateChanges="validatePassword()" required #password>
        </md-form-field>
        <div class="input-warning"> {{ passwordWarning }} </div>
    </form>
    </md-card-content>
    <md-card-actions>
      <button md-button class="login-button" (click)="validateAndLogin()">Login</button>
    </md-card-actions>
  </md-card>
</div>