<section class='log-viewer'>
    <md-card>
        Select machine:
        <md-select placeholder="Select machine" [(ngModel)]="selectedMachine" name="food">
            <md-option *ngFor="let machine of machines" [value]="machine.value">
                {{ machine.name }}
            </md-option>
        </md-select>
    </md-card>
    <md-card *ngIf="dataSource">
        <md-table #table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container mdColumnDef="service">
                <md-header-cell *mdHeaderCellDef> Service </md-header-cell>
                <md-cell *mdCellDef="let element"> {{element['service']}} </md-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container mdColumnDef="@version">
                <md-header-cell style="text-align: center" *mdHeaderCellDef> Version </md-header-cell>
                <md-cell style="text-align: center" *mdCellDef="let element"> {{element['@version']}} </md-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container mdColumnDef="level">
                <md-header-cell style="text-align: center" *mdHeaderCellDef> Level </md-header-cell>
                <md-cell style="text-align: center" *mdCellDef="let element"> {{element['level']}} </md-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container mdColumnDef="message">
                <md-header-cell *mdHeaderCellDef> Message </md-header-cell>
                <md-cell class='log-message' *mdCellDef="let element"> {{ element['message'].length >= 40 ? element['message'].substring(0, 40) + ' ...' : element['message'] }}
                    </md-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container mdColumnDef="@timestamp">
                <md-header-cell style="text-align: right" *mdHeaderCellDef> Timestamp </md-header-cell>
                <md-cell style="text-align: right" *mdCellDef="let element"> {{ formatDate(element['@timestamp']) }} </md-cell>
            </ng-container>

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row class='table-row' *mdRowDef="let row; columns: displayedColumns;" (click)="showMeData(row)"></md-row>
        </md-table>
        <md-paginator [length]="resultLength" [pageSize]="paginationModel.limit" [pageSizeOptions]="pageSizes" (page)="updatePage($event)"></md-paginator>
    </md-card>
</section>