<section class='log-viewer'>
    <md-card>
        Select machine:
        <md-select placeholder="Select machine" [(ngModel)]="selectedMachine" name="food" (change)="updateMachineName($event)">
            <md-option *ngFor="let machine of machines" [value]="machine.value">
                {{ machine.name }}
            </md-option>
        </md-select>
        <div class="filter-options" *ngIf="paginationModel">
            <div class="date-pickers">
                <md-form-field>
                    <input mdInput [mdDatepicker]="pickerFrom" placeholder="From">
                    <md-datepicker-toggle mdSuffix [for]="pickerFrom"></md-datepicker-toggle>
                    <md-datepicker #pickerFrom></md-datepicker>
                </md-form-field>
                <md-form-field>
                    <input mdInput [mdDatepicker]="pickerTo" placeholder="To">
                    <md-datepicker-toggle mdSuffix [for]="pickerTo"></md-datepicker-toggle>
                    <md-datepicker #pickerTo></md-datepicker>
                </md-form-field>
            </div>
            <div class="search inline-block">
                Search:
                <input class="inline-block" style="width: inherit; border-bottom: 1px solid black" (change)="updateSearch()" mdInput [(ngModel)]="paginationModel.search">
            </div>
            <div class="level inline-block">
                Level: {{ paginationModel?.level }}
                <md-slider class="slider" [max]="60" [min]="0" [step]="30" (input)="changeLevel($event)"></md-slider>
            </div>
        </div>
    </md-card>
    <md-card class='table-card' *ngIf="dataSource && selectedMachine">
        <md-table #table [dataSource]="dataSource">
            <!-- Service Column -->
            <ng-container mdColumnDef="service">
                <md-header-cell class="table-service" *mdHeaderCellDef> Service </md-header-cell>
                <md-cell class="table-service" *mdCellDef="let element"> {{element['service']}} </md-cell>
            </ng-container>

            <!-- Version Column -->
            <ng-container mdColumnDef="@version">
                <md-header-cell class="table-version" style="text-align: center" *mdHeaderCellDef> Version </md-header-cell>
                <md-cell class="table-version" style="text-align: center" *mdCellDef="let element"> {{element['@version']}} </md-cell>
            </ng-container>

            <!-- Level Column -->
            <ng-container mdColumnDef="level">
                <md-header-cell class="table-level" style="text-align: center" *mdHeaderCellDef> Level </md-header-cell>
                <md-cell class="table-level" style="text-align: center" *mdCellDef="let element"> {{element['level']}} </md-cell>
            </ng-container>

            <!-- Message Column -->
            <ng-container mdColumnDef="message">
                <md-header-cell class="table-message" *mdHeaderCellDef> Message </md-header-cell>
                <md-cell class='table-message' *mdCellDef="let element"> {{ element['message'] }}
                    <!-- <md-cell class='log-message' *mdCellDef="let element"> {{ element['message'].length >= 100 ? element['message'].substring(0, 96) + ' ...' : element['message'] }} -->
                </md-cell>
            </ng-container>

            <!-- Timestamp Column -->
            <ng-container mdColumnDef="@timestamp">
                <md-header-cell class="table-timestamp" style="text-align: right" *mdHeaderCellDef> Timestamp </md-header-cell>
                <md-cell class="table-timestamp" style="text-align: right" *mdCellDef="let element"> {{ formatDate(element['@timestamp']) }} </md-cell>
            </ng-container>

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row class='table-row' *mdRowDef="let row; columns: displayedColumns;" (click)="showMeData(row)"></md-row>
        </md-table>
        <md-paginator [length]="resultLength" [pageSize]="paginationModel.limit" [pageSizeOptions]="pageSizes" (page)="updatePage($event)"></md-paginator>
    </md-card>
</section>