.log-viewer {
    height: 100vh;
    margin-left: 200px;
    margin-top: -10px;
    padding-top: 10px;
    background-color: #00c3c2;
}

md-card {
    margin: 10px 10px 0px 10px;
    padding-top: 10px;
    max-height: calc(100vh - 130px);
    overflow: hidden;
}

md-table {
    min-height: calc(100vh - 185px);
    max-height: calc(100vh - 185px);
    overflow-x: hidden; 
}

.table-card {
    padding: 10px 0px !important;
}

.table-row {
    cursor: pointer;
}

.table-row:hover {
    background-color: rgba(0, 195, 194, 0.7);
}

.filter-options {
    float: right;
    padding-top: 10px;
    margin-bottom: -10px;
}
