/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
}
  
.hex {
cursor: pointer;
fill-opacity: 0.4;
stroke: #000;
stroke-width: 1;
}

#color-fill .hex {
fill: #ffff00;
}

.hex:hover {
fill-opacity: 1;
stroke: #ff0000;
stroke-width: 5;
transform: scale(1.1);
-webkit-transform: scale(1.1);
}

.hex {
transition: transform, fill-opacity, stroke-width;
-webkit-transition: transform, fill-opacity, stroke-width;
transition-duration: 1s;
-webkit-transition-duration: 1s;
}

/**/

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.table-service {
    flex: 15% !important;
}

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: #00c3c2 !important;
}

.table-version {
    flex: 10% !important;
}

.table-level {
    flex: 10% !important;
}

.table-message {
    flex: 55% !important;
    word-break: break-all !important;
}

.table-timestamp {
    flex: 10% !important;
}

.spinner svg {
    width: 100px !important;
}

.spinner path {
    stroke: #00c3c2 !important;
}

.mat-form-field-infix {
    padding: 0px !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.login-form .mat-input-underline {
    display: none !important;
}

.login-form .mat-input-subscript-wrapper {
    display: none !important;
}

.mat-input-wrapper {
    margin-top: -5px !important;
}

.log-viewer .date-pickers input {
    padding-bottom: 20px;
    height: 30px;
}

.log-viewer md-datepicker-toggle svg {
    margin-top: -20px !important;
}